@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
/*-----------------------------------Обнуление----------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------Конец обнуления-----------------------------------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  background-color: #425062;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  color: #fff;
  padding: 50px 20px 51px 50px;
}

.header__title {
  font-size: 59px;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  margin: 0px 0px 40px 0px;
}

.header__list {
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
  line-height: 1.8;
  font-size: 20px;
}

.header__img {
  padding: 50px 50px 59px 0px;
  width: 469px;
  height: 214px;
}

.header__list li {
  background: url(/img/icon/check-icon.png) 0 4px no-repeat;
  padding: 0px 0px 0px 36px;
}

.top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 121px 46px 50px;
}

.top__img {
  width: 430px;
  height: 186px;
  margin: 0px 16px 0px 0px;
}

.top__body {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #333;
  margin: 0px 0px 0px 16px;
}

.top__title {
  padding: 0px 0px 0px 2px;
  margin-bottom: 36px;
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: #445161;
}

.top__body p:nth-child(2) {
  margin-bottom: 36px;
}

.middle {
  background-color: #F5F5F5;
}

.middle__title {
  padding: 48px 0px 30px 0px;
}

.middle__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 15px 50px 20px 48px;
}

.middle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle__image {
  width: 200px;
  height: 150px;
  margin: 0px 15px 30px 0px;
}

.middle__body {
  max-width: 360px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #333;
  margin: 0px 16px 0px 0px;
}

.middle__subtitle {
  font-size: 24px;
  line-height: 1.25;
  text-align: left;
  color: #445161;
}

.title {
  text-align: center;
  padding: 48px 0px 15px 0px;
  font-size: 30px;
  line-height: 1.2;
  color: #445161;
}

.bottom__container {
  width: 990px;
  margin: 0 auto;
}

.bottom__columms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom__columm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #425062;
  width: 300px;
}

.bottom__columm p {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}

.columm__title {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #fff;
  background-color: #425062;
}

.columm__subtitle {
  background-color: #fff;
  font-size: 40px;
  line-height: 0.75;
  text-align: center;
  color: #445162;
  border: 2px solid #425062;
}

.columm__btn {
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #445161;
}

.footer {
  background-color: #F5F5F5;
  padding: 31px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__text {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: #445162;
}
