// ----------------------------------------Fonts-------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');
// ----------------------------------------Nullstyle---------------------------------------
@import '_Nullstyle';

$bgc1: #425062;
$bgc2: #F5F5F5;
$font1: Roboto;
$font2: 'Open Sans';


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container{
    max-width: 1280px;
    margin: 0px auto;
}

.content {
	flex: 1 1 auto;
}

.header {
    // padding: 50px;
    background-color: $bgc1;

		&__row {
            display: flex;
            justify-content: space-between;

		}

		&__body {
            color: #fff;
            // padding: 0px 30px 0px 0px;
			padding: 50px 20px 51px 50px;
		}

		&__title {
            font-size: 59px;
			text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
            margin: 0px 0px 40px 0px;

		}

		&__list {
			text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
            line-height: 1.8;
            font-size: 20px;
		}

		&__img {
			padding: 50px 50px 59px 0px;
            width: 469px;
            height: 214px;
            
		}
}
.header__list li{
    background: url(/img/icon/check-icon.png) 0 4px no-repeat;
    padding: 0px 0px 0px 36px;
}

.main {
}
.top {

		&__row {
			display: flex;
			justify-content: space-between;
			padding: 50px 121px 46px 50px;
		}

		&__img {
			width: 430px;
			height: 186px;
			margin: 0px 16px 0px 0px;
		}

		&__body {
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			color: #333;
			margin: 0px 0px 0px 16px;
		}

		&__title {
			padding: 0px 0px 0px 2px;
			margin-bottom: 36px;
			font-size: 30px;
			line-height: 1.2;
			text-align: left;
			color: #445161;
		}
}
.top__body p:nth-child(2){
	margin-bottom: 36px;
}

.middle {
	background-color: #F5F5F5;
		&__title {
			padding: 48px 0px 30px 0px;
		}

		&__box {
			display: flex;
			flex-wrap: wrap;
			flex: 1 0 50%;
			padding: 15px 50px 20px 48px;
		}

		&__item {
			display: flex;
			justify-content: space-between;
		}

		&__image {
			width: 200px;
			height: 150px;
			margin: 0px 15px 30px 0px;

		}

		&__body {
			max-width: 360px;
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			color: #333;
			margin: 0px 16px 0px 0px;
		}

		&__subtitle {
			font-size: 24px;
			line-height: 1.25;
			text-align: left;
			color: #445161;
		}
}
.title {
	text-align: center;
	padding: 48px 0px 15px 0px;
	font-size: 30px;
	line-height: 1.2;
	color: #445161;
}
.bottom {

		&__title {
		}

		&__container {
			width: 990px;
			margin: 0 auto;
		}

		&__columms {
			display: flex;
			justify-content: space-between;
			// margin: 0px 145px 49px 145px;

		}

		&__columm {
			display: flex;
			flex-direction: column;
			background-color: #425062;
			width: 300px;
		}
}
.bottom__columm p{
	flex: 1 0 auto;
	font-size: 14px;
	line-height: 1.71;
	color: #fff;
}
// .bottom__columms div:nth-child(1){
// 	margin-right: 45px;
// }
// .bottom__columms div:nth-child(2){
// 	margin-right: 45px;
// }
.columm {

		&__title {
			font-size: 24px;
			line-height: 1.25;
			text-align: center;
			color: #fff;
			background-color: #425062;
		}

		&__subtitle {
			background-color: #fff;
			font-size: 40px;
			line-height: 0.75;
			text-align: center;
			color: #445162;
			border: 2px solid #425062;
		}

		&__btn {
			background-color: #fff;
			font-size: 18px;
			font-weight: bold;
			line-height: 1;
			text-align: center;
			color: #445161;
		}
}
// ----------------------------------------------footer-----------------------------------
.footer {
	background-color: #F5F5F5;
	padding: 31px 0;
		&__row {
			display: flex;
			justify-content: center;
		}

		&__text {
			font-size: 12px;
			line-height: 2;
			letter-spacing: 0.3px;
			color: #445162;
		}
}
